VITE_SUPABASE_URL=https://llbefroolkndlyziiqgi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxsYmVmcm9vbGtuZGx5emlpcWdpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE0NjkzOTMsImV4cCI6MjA5NzA0NTM5M30.AZxib5DLF_QlSzkdPE_Ly8xEjDL_Za6_dat9ROHzuSg